src/main/app/imap-to-csv.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:imaps="http://www.mulesoft.org/schema/mule/imaps" xmlns:context="http://www.springframework.org/schema/context" xmlns:imap="http://www.mulesoft.org/schema/mule/imap" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.6.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/imap http://www.mulesoft.org/schema/mule/imap/current/mule-imap.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/imaps http://www.mulesoft.org/schema/mule/imaps/current/mule-imaps.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
    <context:property-placeholder location="common.properties"/>
  
<!--   	moveToFolder="[Gmail]/Trash" -->
	<imaps:connector
        name="imapsConnector"        
        checkFrequency="100"     
        deleteReadMessages="false"
        doc:name="IMAP"  >
       
    </imaps:connector>
    <data-mapper:config name="CSV_To_XML" transformationGraphPath="csv_to_xml_1.grf" doc:name="CSV_To_XML"/>
    

    <flow name="imap-to-csvFlow1" doc:name="imap-to-csvFlow1">
        <imaps:inbound-endpoint host="${imap.server}" port="${imap.port}" user="${imap.user}" password="${imap.password}" responseTimeout="10000" doc:name="IMAP"
    	   connector-ref="imapsConnector" />
        <expression-transformer name="returnAttachments" doc:name="Expression">
		    <return-argument evaluator="attachments-list" expression="*"/>
		</expression-transformer>
        <set-payload value="#[payload[0].getContent()]" doc:name="Set Payload"/>
        <data-mapper:transform config-ref="CSV_To_XML" doc:name="CSV To XML"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <logger message="recieved: #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
